<div class="detail">
<div class="strap">
	<h3><span>{{content.make}}</span>, {{content.model}}</h3>
	</div>
	<div class="content">
		<div class="year">
			{{content.year}}
		</div>
		<div class="price">
			{{carPrice}}
		</div>
	<!--	{{#if hasComments}}
		<div class="footnote">comments: {{commetCount}} </div>
		{{/if}} -->
	</div>

</div>

